<h1>Welcome to the Music Concert Network</h1>

<h2>Concert Details:</h2>

	   <p><%= @concerts.artist%>
	   	  <%= @concerts.venue %>
	   	  <%= @concerts.city %>
	   	  <%= @concerts.date%>
	   	 $<%= @concerts.price%>
	   	  <%= @concerts.description%>
	   	</p>

 

