<h1>Welcome to the Music Concert Network</h1>

<h2>Concert Details:</h2>

	   <h3> Artist Name: <%=@concerts.artist%></h3>
	   <p>Venue: <%= @concerts.venue %></p>
	   <p>City: <%= @concerts.city %></p>
	   <p>Date:	<%= @concerts.date%></p>
	   <p>Price	$<%= @concerts.price%></p>
	   <p>Description: <%= @concerts.description%></p>

        <li>
  		  <a href="concert_comments"> Comments: </a>
  		</li>

