<!DOCTYPE html>
<html>
  <head>
    <title>MusicNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	

    <%= yield %>

    <%= render("other_stuff/header") %>


    <%= yield(:side_bar) %>


    <%= render("other_stuff/sidebar") %>
   

    <footer>
      <p>Powered by Javibier</p>
    </footer>
  </body>
</html>
