<h1>Welcome to this timetracking tool</h1>


<img src ="/assets/dramatic_glasses.gif" alt="Cool Kid">

<%= image_tag "dramatic_glasses.gif" %>


<h1> New Projects </h1>

<%= form_for @my_project do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.button %>
 <% end %>